{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="log in page for grumblr">
    <meta name="author" content="Yiran Zhou">
    

    <title>Log in</title>

  </head>

  <body>

    <div class="container">
      <p class="room" data-room-id="{{ room.id }}"> Welcome to room {{room.label}}, {{request.user.username}} !</p>
      <p> The host of the room is {{room.host}} !
      
      <ul id = "player">
      {% for user in users %}
      {% if user != request.user.username %}
      <li> {{ user }}</li>
      {% endif %}
      {% endfor %}
      </ul>
     {% if request.user.username == room.host%}
      <form class="container form form-horizontal container-central" action = "{% url 'join-game' room.label%}" method ="post">
            {% csrf_token %}
            <input class="btn btn-block btn-default" type="submit" value="Let's begin!" id ="begingame">
        </form>
    {%endif%}
 
            <a href = "{% url 'leave-room' room.label %}">Leave Room</a>
    </div>

     <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="{% static "channels/js/websocketbridge.js" %}" type="text/javascript"></script>
    <script src="/static/js/room.js" type="text/javascript"></script>
</html>